<html>
    <head>
        <title>
            Forgotpassword
        </title>
    </head>
    <body>
        {% if msg %}
        <b>{{msg}}</b>
        {% endif %}
        <form action="{% url 'newpassword' %}" method="POST">
            {% csrf_token %}
            <input type="email" value="{{email}}" readonly name='email'>
            <label>otp</label>
            <input type="number" name="otp">
            <label>Enter new password</label>
            <input type="password" name="password">
            <label>Enter confirm password</label>
            <input type="password" name="confirmpassword">
            <input type="submit" value="Change Password">
        </form>
    </body>


</html>